include /record/pages/detail_mixin

+detail_page()
    .renew(expiry-info='item.expiry', show-details='true', can-edit='edit_mode')
    .part(account-list='item.accounts', edit='edit_mode')
    .registered
        span(ng-show='edit_mode') Date created:
        span(ng-hide='edit_mode') Created on
        span(date-edit='item.starts_on', can-edit='edit_mode')
