include /record/pages/detail_mixin

+detail_page()
    .renew(expiry-info='item.expiry', show-details='true', can-edit='edit_mode')
    .registered
        span(ng-show='edit_mode') Start date:
        span(ng-hide='edit_mode')
            span(ng-hide='starts_on | beforeNow') Starts
            span(ng-show='starts_on | beforeNow') Started
            | &nbsp;on
        span(date-edit='item.starts_on', can-edit='edit_mode')
