include /record/pages/detail_mixin

+detail_page()
    .part(ng-controller='sm_options', ng-show='edit_mode')
        .row: input.form-control(typeahead='network_options', type='text', ng-model='sm_network', placeholder='Network')
        .row: input.form-control(typeahead='type_options', type='text', ng-model='sm_type', placeholder='Type')
        .row: input.form-control(type='text', ng-model='item.link', placeholder='Link')
        .row: input.form-control(type='text', ng-model='item.login', placeholder='Login')
    div(ng-hide='edit_mode')
        .part {{ item.network }}
        .part {{ item.type }}
        a.part(ng-href="{{ item.link }}", target="_blank") {{ item.link }}
        .part {{ item.login }}
