include /ui_mixin

div(ng-show='edit_mode') Select a company or enter a new company's name
div(ng-show='edit_mode', ng-if='company_options')
    input.form-control(id='contact_name', type='hidden', ui-select2='company_options', ng-model='selected.company', autocomplete='off')
h4.title(ng-hide='edit_mode'): a(ng-href='{{ path_base }}companies/{{ current_company.key }}/') {{ current_company.name }}

.alert.alert-danger.text-center(ng-show='edit_mode && current_company && !current_company.new')
    | An existing company is currently selected, changes will effect all records that link to this company.

.data.form-horizontal(ng-show='current_company')
        .row
            .col-sm-2.control-label Home Page:
            .col-sm-10.form-control-static
                a(target='_blank', ng-href='{{current_company.url}}', editable='edit_mode', ng-model='current_company.url', placeholder='http://example.com/')
        .row.section
                h5 Login at {{ current_company.name }}
                .row
                    .col-sm-2.control-label Login Url:
                    .col-sm-10.form-control-static
                        a(target='_blank', ng-href='{{current_company.login_url}}', editable='edit_mode', ng-model='current_company.login_url', placeholder='http://example.com/login.php')
                .row
                    .col-sm-2.control-label Login User ID:
                    .col-sm-10.form-control-static
                        div(editable='edit_mode', ng-model='current_company.login_name')
        .row.section
                h5 Contact {{ current_company.name }}
                .row
                  .col-sm-offset-1.col-sm-11.card
                    .edit(ng-show='edit_mode || current_company.contacts[0].name')
                        .glyphicon.glyphicon-user
                        div(editable='edit_mode', ng-model='current_company.contacts[0].name', placeholder='Name', required)
                    .edit(ng-show='edit_mode || current_company.contacts[0].email')
                        .glyphicon.glyphicon-envelope
                        div(editable='edit_mode', ng-model='current_company.contacts[0].email', placeholder='Email')
                    .edit(ng-show='edit_mode || current_company.contacts[0].phone')
                        .glyphicon.glyphicon-phone-alt
                        div(editable='edit_mode', ng-model='current_company.contacts[0].phone', placeholder='Phone')
                    a.edit(ng-show='edit_mode || current_company.contacts[0].url', target='_blank', ng-href='{{current_company.contacts[0].url}}')
                        .glyphicon.glyphicon-link
                        div(editable='edit_mode', ng-model='current_company.contacts[0].url', placeholder='URL')
