span.label.label-success(ng-if='expiry.end && expiry.renew || editable', ng-class='{faded: editable && !expiry.renew || expiry.term}', ng-click='set_renew(true)')
    span(ng-show='expiry.end | beforeNow') Renewed
    span(ng-hide='expiry.end | beforeNow') Renews
span.label.label-danger(ng-if='expiry.end && !expiry.renew || editable', ng-class='{faded: editable && expiry.renew}', ng-click='set_renew(false)')
    span(ng-show='expiry.end | beforeNow') Expired
    span(ng-hide='expiry.end | beforeNow') Expires
span.label.label-warning(ng-if='!expiry.end && expiry.renew || editable', ng-class='{faded: editable && !expiry.term}', ng-click='set_renew("term")')
    | Paid
    span(ng-show='!expiry.renew_term') &nbsp;in full
span(ng-show='!expiry.term && editable || expiry.end')
    span(ng-hide='editable') {{ expiry.end | from }} ({{ expiry.end | date }})&nbsp;
    span(ng-show='editable && !expiry.term')
        | on&nbsp;
        input.form-control(date-input, id='company', type='date', ng-model="expiry.end")
        | &nbsp;
span(ng-show='expiry.end && expiry.renew')
    | for&nbsp;
    span(ng-hide='editable') {{ expiry.renew_term | duration }}
span(ng-show='!expiry.end && expiry.renew && expiry.renew_term')
    | every&nbsp;
    span(ng-hide='editable') {{ expiry.renew_term | every }}
span(ng-show='editable && expiry.renew')
    .input-group
        input.form-control(duration-input='span_length', id='term', ng-required='expiry.renew', type='number', ng-model='expiry.renew_term')
        span.input-group-btn
            button.btn.btn-default.dropdown-toggle(type='button', ng-click='show_lengths=!show_lengths')
                | {{ span_lengths[span_length] }}&nbsp;
                span.caret
            ul.dropdown-menu(ng-show='show_lengths')
                li(ng-repeat='(key, value) in span_lengths')
                    a(href='#', ng-click='set_span_length(key)') {{ value }}
