.label.label-info(ng-repeat='option in options', ng-class='class')
    a(ng-href='{{path_base}}{{base_url}}{{option}}') {{ option }}
    button.close(ng-show='edit_mode', ng-click='options.splice($index,1)') &times;
form(ng-show='edit_mode', ng-submit='add_tag()')
    .label.label-danger(ng-class='class')
        input(typeahead='current_options', type='text', ng-model='tag_text', required, placeholder='Add Tag', ng-class='class', autocomplete='off')
        input(type='submit', value='', style='visibility: hidden;width: 0;padding: 0;')
