include /ui_mixin

+breadcrumb()
    li.active Add Record

h1
    | Add&nbsp;
    span(ng-show='drawer_title') {{ drawer_title }}&nbsp;
    | Record

form.form-horizontal
    .form-group
        label.col-md-2.control-label Record Type*
        .col-md-10: input.form-control(id='type', required, type='hidden', ui-select2="select2opt", ng-model="type")


span(ng-if='type')
    form.form-horizontal(ng-submit='create(type, item)')
        .form-group(ng-show="workspace.details.folders")
            label.col-md-2.control-label Record Groups
            .col-md-10
                .label(
                ng-repeat='(url, folder) in workspace.details.folders',
                ng-click='toggle_folder(url)',
                ng-class='{"label-success":item.folders.indexOf(url) != -1, "label-danger":item.folders.indexOf(url) == -1}')
                    | {{ folder.name }}
        .form-group
            label.col-md-2.control-label {{ type.input_title }}*
            .col-md-10: input.form-control(type='text', required, ng-model='item.name', ng-pattern='type.pattern')
        //.form-group
            label.col-md-2.control-label Description
            .col-md-10: input.form-control(type='text', ng-model='item.description')
        .form-group
            label.col-md-2.control-label Primary Responsibility
            .col-md-10: span(user-selector='item.account')
        .form-group
            label.col-md-2.control-label Attach file or link
            .col-md-3: input.form-control(type='text', ng-model='file.name', placeholder="Name")
            .col-md-7: input.form-control(type='text', ng-model='file.description', placeholder="Web Address (URL)")
        .form-group(ng-hide="file.description")
            label.col-md-2.control-label Attach from
            .col-md-10
                a.btn.btn-default(ng-href="#", ng-click="add_file('drive')")
                    | Google Drive
                | &nbsp;
                a.btn.btn-default(ng-href="#", ng-click="add_file('dropbox')")
                    | Dropbox
        .form-group
            .col-md-12.text-center
                button.btn.btn-success Create
h6: i * Required Fields