.detail-page {
    position: relative;
    .top-bar {
        font-size: 20px;
        margin-top: -15px;
        margin-right: 15px;
        z-index: 50;
        .clearfix();
        .btn {
            margin-left: 15px;
            .pull-right();
        }
    }
    .bottom-bar {
        font-size: 20px;
        .btn {
            margin-left: 15px;
        }
        position: absolute;
        right: 15px;
        z-index: 50;
    }
    .main-panel {
        margin-top: 10px;
        h3 {
            margin-top:0;
        }
        h4 {
            font-weight: normal;
            margin-bottom: 0;
        }
        [contenteditable=true] {
            background-color: @input-bg;
            background-image: none;
            border: 1px solid @input-border;
            border-radius: @input-border-radius;
            padding: 4px;
            font-size: auto;
        }
    }
    .glyphicon {
        &:not(:only-child) {
            margin-right: 5px;
        }
        color: #000000;
        &:hover {
            text-decoration: none;
        }
    }
    .editable[contenteditable=true] {
        .form-control();
    }
    &.edit .folders .label:hover {
        cursor: pointer;
    }
    .labels {
        margin: 5px 0;
        .label {
            .close {
                margin-left: 5px;
                float: none;
                font-size: 150%;
                line-height: 0.66;
            }
        }
        form {
            margin-left: 10px;
            display: inline-block;
            .label {
                display: block;
                border: none;
                input {
                    border: none;
                    color: inherit;
                    background-color: inherit;
                    padding: 0 10px;
                    .placeholder(#eeeeee);
                }
            }
        }
    }
    .part {
        margin: 10px 20px;
    }
    .long-description {
        #taTextElement {
            height: auto;
            min-height: 100px;
        }
    }
    .renew {
        margin-top: 10px;
        input {
            width: 200px;
            display: inline;
            &[duration-input] {
                width: 80px;
            }
        }
        .input-group, .input-group-btn {
            display: inline-block;
        }
        .label.faded {
            opacity: 0.3;
        }
    }
    .registered {
        margin-top: 10px;
        input {
            display: inline-block;
            width: 200px;
        }
    }
    > .contacts {
        margin-top: 10px;
    }
    .company {
        .panel {
            position: relative;
            &.show-options {
                margin-left: 40px;
                .panel-options {
                    position: absolute;
                    left: -40px;
                    top: 10px;
                }
            }
        }
        .twitter-typeahead {
            width: 100%;
            input {
                .form-control();
                width: 100%;
            }
            .tt-dropdown-menu {
                .dropdown-menu();
            }
        }
        .title {
            margin-bottom: 5px;
            margin-top: 0px;
            a {
                color: #000000;
            }
        }
        h5 {
            margin-left: -15px;
        }
        .data {
            margin-left: 10px;
            > .section {
                margin: 2px 10px;
            }
        }
    }
    .placeholder {
        opacity: 0.7;
    }
    .form {
        > * {
            min-height: 30px;
        }
    }
    .notifications {
        margin-top: 20px;
        [contenteditable=true] {
            display: inline-block;
            min-width: 40px;
            width: auto;
        }
    }
    .files {
        margin-top: 20px;
        [type='file'] {
            display: block;
            width: 0;
            height: 0;
        }
        .file-drop {
            cursor: pointer;
            height: 80px;
            line-height: 80px;
            margin: 5px;
            text-align: center;
            color: lightgrey;
            font-weight: 800;
            font-size: 1.2em;
            box-sizing:content-box;
            border: 5px dashed lightgrey;
            border-radius: 15px;
        }
    }
    &.file-over .files .file-drop {
        color: #222222;
        background: rgba(150, 150, 150, 0.4);
        height: 150px;
        line-height: 150px;
        border: 5px dashed #222222;
    }
}
