include /ui_mixin
include ../breadcrumb_mixin

mixin action_bar()
    button.btn.btn-success(ng-click='save()', ng-show='edit_mode')
        .glyphicon.glyphicon-floppy-disk
        span Save
    button.btn.btn-danger(ng-click='cancel()', ng-show='edit_mode')
        .glyphicon.glyphicon-remove
        span Cancel
    button.btn.btn-default(ng-click='edit()', ng-hide='edit_mode')
        .glyphicon.glyphicon-pencil
        span Edit
    a.btn.btn-default(ng-hide='edit_mode', href='history/')
        .glyphicon.glyphicon-time
        span History

mixin contact_selector()
    .row.contacts
        .col-md-6
            +panel('Primary responsibility at {{ workspace.details.name }}')
                span(ng-show='edit_mode', user-selector='account')
                span(contact-card='account', hide-name='edit_mode')
        .col-md-6.text-center(ng-show='edit_mode && !account2 && !show_secondary')
            button.btn.btn-success(ng-click='show_secondary=true') Add secondary responsibility
        .col-md-6(ng-show='account2 || edit_mode && show_secondary')
            +panel('Secondary responsibility at {{ workspace.details.name }}')
                .text-center: button.btn.btn-danger(ng-show='edit_mode', ng-click='show_secondary=false; account2 = undefined') Remove responsibility contact
                span(ng-show='edit_mode', user-selector='account2')
                span(contact-card='account2', hide-name='edit_mode')

mixin file_list()
    //form(ng-show='edit_mode')
        input(type='file', ng-file-select='onFileSelect($files)')
        .file-drop(click-file-input)
            span(ng-file-drop-available='dropSupported=true', ng-show='dropSupported') Drag or&nbsp;
            | Click here to add files
    div(ng-show="edit_mode")
        button.btn.btn-default(ng-click="add_file('drive')")
            | Google Drive
        button.btn.btn-default(ng-click="add_file('dropbox')")
            | Dropbox
        button.btn.btn-default(ng-click="add_file('link')")
            | Web Address (URL)
    table.table.file-list(id='files')
        thead
            tr
                th Name
                th: span(ng-show='edit_mode') Link
                //th File
                th Uploaded By
                th Upload Date
            tr.form.edit-file(ng-repeat='file in new_files')
                td: input.form-control(type='text', ng-model='file.name')
                td: input.form-control(type='text', ng-model='file.description')
                //td: .glyphicon.glyphicon-upload
                    | &nbsp;{{ file.file_name }}
                td: span(user-tag='users[file.uploaded_by]')
                td {{ file.uploaded_on | date:'medium' }}
        tbody(ng-if="item.files")
            tr(ng-repeat="file in item.files | orderByPriority | orderBy:'uploaded_on':true")
                td(colspan='2'): a(ng-href="{{ file.description }}", target="_blank") {{ file.name || file.description }}
                //td: a(href="")
                    .glyphicon.glyphicon-download
                    | &nbsp;{{ file.file_name }}
                td: span(user-tag='users[file.uploaded_by]')
                td {{ file.uploaded_on | date:'medium' }}

mixin notifications()
    .notifications
        .row
            .col-md-6: +panel('Record Changes')
                | The following users will be notified of changes:
                div
                    span(ng-show='account', user-tag='account')
                    | &nbsp;
                    span(ng-show='account2', user-tag='account2')
            .col-md-6(ng-show='account && edit_mode || item.notifications.renewal')
                +panel('Renewal Reminders')
                    span(user-tag='account')
                    span(ng-show='account2')
                        | &nbsp;and&nbsp;
                        span(user-tag='account2')
                    | &nbsp;will be notified&nbsp;
                    span(editable='edit_mode', ng-model='item.notifications.renewal', data-placeholder='xx')
                    | &nbsp;days before expiry.

mixin detail_page()
    .detail-page(ng-class='{edit: edit_mode}', ng-file-drop='onFileSelect($files)', ng-file-drag-over-class='file-over')
        +extended_breadcrumb()
        .top-bar
            +action_bar()
        .date
            strong(ng-show='last_modified') Last changed:&nbsp;
            | {{ last_modified | date:'medium' }}
        .panel.panel-default.main-panel
            .panel-heading
                h3(editable='edit_mode', ng-model='item.name', placeholder="{{ type.title }}'s Name")
                h4(editable='edit_mode', ng-model='item.description', placeholder='Sub-title')
            .panel-body
                .folders
                    strong(ng-hide='edit_mode || item.folders') Not in any record groups
                    strong(ng-show='edit_mode || item.folders') In record groups:
                        .label(
                        ng-repeat='(url, folder) in workspace.details.folders',
                        ng-show='edit_mode || item.folders.indexOf(url) != -1',
                        ng-click='edit_mode && toggle_folder(url)',
                        ng-class='{"label-success":item.folders.indexOf(url) != -1, "label-danger":item.folders.indexOf(url) == -1}')
                            | {{ folder.name }}
                .labels
                    strong(ng-show='edit_mode || item.options') Tags:
                        span(option-list='item.options', can-edit='edit_mode', complete-type='{{ type.id }}', url='..')
                h4 Notes and Information
                .part(ng-hide='edit_mode', ng-bind-html="item.legal_description")
                .part.long-description(text-angular, ng-show='edit_mode', ng-model='item.legal_description')
        block
        span(ng-show="item.files || edit_mode")
            +panel("Files and Links")
                +file_list()
        +contact_selector()
        +notifications()
        .company(ng-repeat='ref in selected.companies')
            .panel.panel-default(ng-class='{"show-options": edit_mode}')
                .panel-options.btn-group-vertical(ng-show='edit_mode')
                    button.btn.btn-sm(ng-click='move_company($index, -1)'): i.glyphicon.glyphicon-chevron-up
                    button.btn.btn-danger.btn-sm(ng-click='remove_company($index)'): i.glyphicon.glyphicon-remove
                    button.btn.btn-sm(ng-click='move_company($index, 1)'): i.glyphicon.glyphicon-chevron-down
                .panel-heading
                    h3.panel-title
                        span(ng-hide='edit_mode') {{ item.companies[$index].relation }}
                        span(ng-show='edit_mode')
                            input(ng-model='item.companies[$index].relation', placeholder='Relation', typeahead='common_relations')
                .panel-body
                    div(editable='edit_mode', placeholder='Related Company Description', ng-model='item.companies[$index].description')
                    div(company-selector='ref.company', can-edit='edit_mode', current_contact='item.companies[$index].contact')
        button.btn.btn-success(ng-show='edit_mode', ng-click='add_company()') Add a Related Company or Contact
        .bottom-bar(ng-show='edit_mode')
            +action_bar()
