include /ui_mixin

+breadcrumb()
    li
        .title Drawer
        .btn-group.btn-group-xs
            a.btn.btn-default(ng-href='{{ path_base }}{{ drawer.location }}') {{ drawer.title }}
            button.btn.btn-default.dropdown-toggle(ng-click='show_drawers=!show_drawers'): i.caret
            ul.dropdown-menu(ng-show='show_drawers', role="menu")
                li(ng-repeat='drawer in drawers')
                    a(ng-href='{{ path_base }}{{ drawer.location }}') {{ drawer.title }}

.row
    .col-md-offset-4.col-md-4.drawer-list
        h3.text-center {{ drawer.title }} Drawer
        form(ng-submit="run_search(path_base + drawer.location + 'all/?text=' + search)")
            .input-group
                .input-group-addon
                    .glyphicon.glyphicon-search
                input.text-center.form-control(type="text", placeholder="Search {{drawer.title }} Records", ng-model="search")
            button.btn.btn-default.btn-block
                | All {{drawer.title }} Records
        a.btn.btn-success.btn-block(ng-href="{{ path_base }}add/?type={{ drawer.id }}")
            | Add {{drawer.title }} Records
        hr
        a.btn.btn-default.btn-block(ng-repeat="record_type in drawer.sub", ng-href="{{ path_base }}{{ record_type.location }}")
            | {{ record_type.title }}
        hr
        a.btn.btn-primary.btn-block(ng-href="{{ path_base }}{{ drawer.location }}renewals/")
            | {{drawer.title }} Expiries & Renewals
        a.btn.btn-primary.btn-block(ng-href="{{ path_base }}{{ drawer.location }}responsibilities/")
            | {{drawer.title }} Responsibilities
