include detail_mixin

+extended_breadcrumb()
    li.active History

h1 History of&nbsp;
    a(ng-href='{{ path_base }}{{ type.location }}{{ item.key }}/') {{ item.data.name }}

table.table.table-striped
    thead
        tr
            th
            th Date
            th User
            th Change
    tbody
        tr(ng-repeat-start='revision in revisions | orderBy:"date":true', ng-class='{info: selected==$index}', ng-click='set_selected($index)')
            td
                .show.glyphicon.glyphicon-eye-open(ng-if='selected!=$index')
                .show.glyphicon.glyphicon-eye-close(ng-if='selected==$index')
            td {{ revision.date | date }}
            td: span(user-tag='users[revision.user]')
            td {{ revision.change }}
        tr.expanded(ng-repeat-end, ng-if='selected==$index')
            td(colspan='4')
                .span(ng-show='revision.details') {{ revision.details }}
                .span(ng-hide='revision.details')
                    | More information is not yet available.
