include detail_mixin

+extended_breadcrumb()

h1 {{ type.title }}
    small(ng-show='company.name') &nbsp;for {{company.name}}

.alert.alert-info.text-center(ng-show="loading")
    h2 Loading Records...

span(ng-hide="loading")
    .row
        .col-sm-5
            +search(ngModel='search.text', placeholder='Search {{ type.title }}')
        .col-sm-offset-4.col-sm-3.text-right
            a.btn.btn-success(ng-href='{{ path_base }}add/?type={{ type.id }}') Add {{ type.add_title }}
    .item-list
        .no-entries.alert.alert-warning.text-center(ng-hide="search.text")
            span(ng-show='current.folder') The {{ workspace.details.folders[current.folder].name }} record group has no {{ type.add_title }} records. Switch record group or create a record by clicking the "Add {{ type.add_title }}" button above.
            span(ng-hide='current.folder') This cabinet has no {{ type.add_title }} records. Create one by clicking the "Add {{ type.add_title }}" button above.
        .row(ng-repeat='item in items | inFolder:current.folder | keyedFilter:search.text | orderBy:"-last_modified"')
            div(row-item='item', row-type='{{ type.id }}')
