include ../breadcrumb_mixin

+drawer_breadcrumb()
    li.active All Records

h1 All {{ drawer.title }} Records
    small(ng-show='company.name') &nbsp;for {{company.name}}

.alert.alert-info.text-center(ng-show="loading")
    h2 Loading Records...

span(ng-hide="loading")
    .row
        .col-sm-5
            +search(ngModel='search.text', placeholder='Search')
        .col-sm-offset-4.col-sm-3.text-right

    .item-list(ng-repeat='type in types')
        h4: a(ng-href='{{ path_base }}{{ type.location }}') {{ type.title }}
        .row(ng-repeat='item in type.data | inFolder:current.folder | keyedFilter:search.text | orderBy:"-last_modified"')
            div(row-item='item', row-type='{{ type.id }}')
