include ../breadcrumb_mixin

+drawer_breadcrumb()
    li.active Expiry & Renewals

h1 Expiry & Renewals

.alert.alert-info.text-center(ng-show="loading")
    h2 Loading Records...

span(ng-hide="loading")
    .row
        .col-sm-5
            +search(ngModel='search.text', placeholder='Search Renewals')
        .col-sm-offset-4.col-sm-3.text-right

    h2.list-heading Expired
    .item-list
        .row(ng-repeat='item in items | inFolder:current.folder | filter2:expired | orderBy:"data.expiry.end" | filter:search.text')
            div(row-item='item', row-type='{{ item.type }}')

    h2.list-heading Expires
    .item-list
        .row(ng-repeat='item in items | inFolder:current.folder | filter2:expires | orderBy:"data.expiry.end" | filter:search.text')
            div(row-item='item', row-type='{{ item.type }}')

    h2.list-heading Prepaid set to Renew
    .item-list
        .row(ng-repeat='item in items | inFolder:current.folder | filter2:renews | orderBy:"data.expiry.end" | filter:search.text')
            div(row-item='item', row-type='{{ item.type }}')

    h2.list-heading Commitments
    .item-list
        .row(ng-repeat='item in items | inFolder:current.folder | filter2:term | orderBy:"last_modified" | filter:search.text')
            div(row-item='item', row-type='{{ item.type }}')
