include ../breadcrumb_mixin

+drawer_breadcrumb()
    li.active Responsibilities

h1 Responsibilities
    small(ng-show='company.name') &nbsp;for {{company.name}}

.alert.alert-info.text-center(ng-show="loading")
    h2 Loading Records...

span(ng-hide="loading")
    .filters
        .row
            .col-sm-6
                +search(ngModel='search.people', placeholder='Search People', icon='user')
            .col-sm-6
                +search(ngModel='search.text', placeholder='Search Records')

    div(ng-repeat="(user_key, user) in users | keyedFilter:{info: search.people}")
        h2.list-heading
            a(ng-href='?people={{user.info.name}}&text={{search.text}}') {{ user.info.name }}
        .item-list(ng-repeat='type in types')
            h4 {{ type.title }}
            .row(ng-repeat='item in type.data | inFolder:current.folder | isPrimary:user_key | filter:search.text')
                div(row-item='item', row-type='{{ type.id }}')

    span(ng-hide="search.people")
        h2.list-heading Unassigned
        .item-list(ng-repeat='type in types')
            h4 {{ type.title }}
            .row(ng-repeat='item in type.data | inFolder:current.folder | isPrimary:false | filter:search.text')
                div(row-item='item', row-type='{{ type.id }}')
