h2 You have been invited to {{ cabinet.name }}
h3.text-center Would you like to add this cabinet?
.row
    .col-md-offset-3.col-md-2
        button.btn.btn-success.btn-block(ng-click="add()") Add
    .col-md-offset-2.col-md-2
        a.btn.btn-danger.btn-block(ng-href="{{ path_base }}") Cancel
