.login-page {
    max-width: 510px;
    margin: 0 auto;
    padding: 15px;
    .google-login-button {
        height: 54px;
        width: 246px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        background: url('/google/signin_base.png');
        background-size: 100%;
        &:hover {
            background: url('/google/signin_hover.png');
            background-size: 100%;
        }
        &:active {
            background: url('/google/signin_press.png');
            background-size: 100%;
        }
    }
}
