.login-page
    h1 Click below to sign in&nbsp;
        small or register
    .alert.alert-danger.text-center(ng-show='login_failed')
        | Login failed.
    .google-login-button(ng-click='login()')
