@import 'bootstrap/less/bootstrap';
@import 'fontawesome/less/font-awesome';
@import (less) 'select2/select2.css';
@import (less) 'select2/select2-bootstrap.css';
@import (less) 'shepherd.js/css/shepherd-theme-arrows.css';
@import 'patch';

@import "variables";
@import "bootswatch";

@import 'mixins';

@import 'index';
@import 'breadcrumb';

@import 'record/base';
@import 'main/base';

h1 {
    font-size: 28px;
}

.drawer-list {
    & > form > * {
        margin-top: 5px;
        &:first-child {
            margin-top: auto;
        }
    }
    & > * {
        margin-top: 5px;
        &:first-child {
            margin-top: auto;
        }
    }
    & > hr {
        margin-top: auto;
    }
}

.shepherd-step {
    z-index: 1000;
}

.row-padded > *{
    margin-top: 5px;
}

.dropdown-menu {
    display: block;
}

.typeahead-wrapper {
    display: block;
    margin: 50px 0;
}

.tt-dropdown-menu {
    text-align: left;
    background-color: #fff;
    color: #000000;
    border: 1px solid #000;
    width: 100%;
}

.tt-suggestion {
    padding: 5px 10px;
    height: 2em;
    p {

    }
    &.tt-is-under-cursor {
        background-color: #ccc;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.select2-container {
    padding: 0;
    .select2-choice {
        height: @input-height-base - 2;
    }
}

.ng-valid {
    .has-success
    .input-group-addon {
        color: inherit;
    }
}

.ng-invalid {
    .has-error;
}

.filters > .row > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.label {
    display:inline-block;
    margin-right: 5px;
    a {
        color: inherit;
    }
    &.small {
        padding: 1px 3px 2px;
        font-size: 9.75px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 3px;
    }
    &.large {
        padding: 5px 7px;
        font-size: 100%;
        margin-top: 2px;
    }
}

.label-light {
    .label-variant(#eee);
    color: #666;
}

.table-row-variant(info; @state-info-bg);
.table-row-variant(expanded; transparent);


* + small {
    margin-left: 15px;
}

.btn-list {
    .btn {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}