//- external dependencies
each file in cdn_files
    script(src=file)

// build:js(bower_components) /components.js
each file in library_files
    script(src=file)
// endbuild

// build:js(app) /app.js
each file in application_files
    script(src=file)
// endbuild
