@nav-height: 49px;
@nav-color: #222222;
@sidebar-width: 325px;
@sidebar-top: 60px;
@sidebar-footer: 60px;

.no-sidebar {
    #sidebar {
        display: none;
    }
    #main {
        margin: 0;
    }
}

.mobile-nav {
    display: none;
}

#sidebar {
    position: fixed;
    transition: left 0.3s;
    width: @sidebar-width;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 1);
    .top {
        width: 100%;
        height: @sidebar-top;
        position: absolute;
        top: 0;
        font: Calibri, Helvetica, Arial;
        font-size: 20px;
        font-weight: 900;
        border-bottom: solid thin #aaa;
        img{
            margin: 5px;
            height: @sidebar-top - 10;
        }
    }
    .menu {
        width: 100%;
        padding: @sidebar-top 0 @sidebar-footer;
        height: 100%;
    }
    .footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        height: @sidebar-footer;
        border-top: solid thin #aaa;
        .text {
            display: inline;
            margin-top: 15px;
        }
        .options {
            padding: 15px 15px 10px;
            .clearfix();
            .left {
                float: left;
                margin-right: 10px;
                position: relative;
            }
            .right {
                position: relative;
                float: right;
                margin-left: 10px;
            }
        }
    }
}

#main {
    margin: 0 0 0 @sidebar-width;
    height: 100%;
}

#main .container-fluid {
    .loading {
        margin: 0 auto;
        line-height: 70px;
        padding: 20px;
        font: 30px helvetica, sans-serif;
    }
    transition: width .5s;
    padding: 15px;
    margin: 20px auto 60px;
    background: #ffffff;
    opacity: .95;
    border-radius: 3px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
    margin: 30px auto;
    max-width: 1170px;
}

@footer-height: 50px;

html, body {
	height: 100%;
}
body {
    background-size: cover;
    background: url('https://cdn2.editmysite.com/images/theme-background/stock/Ocean-Boat.jpg') no-repeat center center fixed;
}

@media (max-width: @screen-md-max) {
    .mobile-nav {
        display: block;
        position: fixed;
        height: @nav-height;
        .menu-toggle {
            display: block;
            .pull-left();
            margin-left: 10px;
        }
    }
    #sidebar {
        left: -@sidebar-width;
        padding-top: @nav-height;
        .top {
            top: @nav-height;
        }
    }
    .show-menu {
        #sidebar {
            left: 0;
        }
    }
    #main {
        margin: @nav-height 0 0 0;
    }
}

@media (max-width: @screen-xs-max) {
    #sidebar {
        left: -100%;
        width: 100%;
    }
}
