doctype html
html(ng-app='bluedrive')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title BlueDrive
        meta(name='description', content='')
        link(rel='stylesheet', href='/style.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-capable', content='yes')
        link(rel='shortcut icon', sizes='196x196', href='/icon.png')
        link(rel="apple-touch-icon", href="/icon.png")
        link(rel='icon', type='image/png', href='/icon.png')
    body(ng-controller='AppCtrl', ng-class="{'show-menu': show_menu, 'no-sidebar': !user}")
        #sidebar
            .navbar.navbar-inverse.navbar-fixed-top.mobile-nav
                .menu-toggle.navbar-toggle(ng-click='show_menu =! show_menu')
                    .icon-bar
                    .icon-bar
                    .icon-bar
            .top
                a(ng-href="/s/{{ workspace.url }}/")
                    img(src='/icon.png')
                    | BlueDrive
            .menu
                ng-include(src="'/main/sidebar.html'")
            .footer
                .options.text-center
                    .left.dropup
                        button#help.btn.btn-default(dropdown='show_docs_options=$show'): .glyphicon.glyphicon-question-sign
                        ul.dropdown-menu(ng-show="show_docs_options")
                            li: a(href="/s/beta_cabinet/technical/social_media/-JLKNH87_1fWFvMSrGKF/") How-To Videos
                            li: a(href="#") Use Cases
                            li(ng-show="current_tour"): a(href="#", ng-click="current_tour.start()") Take a Tour
                            li.divider
                            li: a#IntercomWidget Ask a Question
                    a.btn.btn-default.left(href='/settings/'): .glyphicon.glyphicon-cog
                    button.btn.btn-danger.right(ng-click='logout()'): .glyphicon.glyphicon-log-out
        #main(ng-click="show_menu=false")
            .container-fluid
                .loading.text-center(ng-if='!loaded') Loading
                ng-view(ng-if='loaded')
        include include_mixin
