// Tables
// -------------------------
.table-row-variant(@state; @background) {
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.
  .table {
    > thead,
    > tbody,
    > tfoot {
      > tr > .@{state},
      > .@{state} > td,
      > .@{state} > th {
        background-color: @background;
      }
    }
  }

  .table-striped {
    > tbody > tr.@{state}:nth-child(odd) {
      > td,
      > th {
        background-color: darken(@background, 5%);
      }
    }
  }

  // Hover states for `.table-hover`
  // Note: this is not available for cells or rows within `thead` or `tfoot`.
  .table-hover > tbody {
    > tr > .@{state}:hover,
    > .@{state}:hover > td,
    > .@{state}:hover > th {
      background-color: darken(@background, 5%);
    }
  }
  .table-striped.table-hover > tbody {
    > tr:nth-child(odd) > .@{state}:hover,
    > .@{state}:hover > td,
    > .@{state}:hover > th {
      background-color: darken(@background, 10%);

    }
  }
}
