mixin breadcrumb(hide_group)
    ol.breadcrumb(ng-controller='breadcrumb')
        li
            .title Cabinet
            a(ng-show="workspaces.length == 1", ng-href='/s/{{ workspace.url }}/') &nbsp;{{ workspace.details.name }}
            .btn-group.btn-group-xs(ng-hide="workspaces.length == 1")
                a.btn.btn-default(ng-href='/s/{{ workspace.url }}/') {{ workspace.details.name }}
                button.btn.btn-default.dropdown-toggle(dropdown='show_workspace=$show'): i.caret
                ul.dropdown-menu(ng-show='show_workspace', role='menu')
                    li(ng-repeat='space in workspaces')
                        a(ng-href="/s/{{ space.url }}/") {{ space.details.name }}
        block
        if !hide_group
            span.pull-right(ng-show='workspace')
                .title Record Group
                .btn-group.btn-group-xs
                    a.btn.btn-default(ng-if='!current.folder', ng-href='/s/{{ workspace.url }}/') All Records
                    a.btn.btn-default(ng-if='current.folder', ng-href='/s/{{ workspace.url }}/{{ current.folder }}/') {{ workspace.details.folders[current.folder].name }}
                    button.btn.btn-default.dropdown-toggle(dropdown='show_folder = $show'): i.caret
                    ul.dropdown-menu(ng-show='show_folder', role='menu')
                        li: a(ng-href="{{ switch_folder() }}") All Records
                        li(ng-repeat='(url, folder) in workspace.details.folders')
                            a(ng-href="{{ switch_folder(url) }}") {{ folder.name }}

mixin panel(title)
    .panel.panel-default
        .panel-heading
            h3.panel-title= title
        .panel-body: block

mixin search()
    .input-group
        .input-group-addon
                .glyphicon(class='glyphicon-'+(attributes.icon?attributes.icon:'search'))
        input.form-control(type='text', ng-model=attributes.ngModel, placeholder=attributes.placeholder)
        .input-group-btn(ng-if=attributes.ngModel)
            a.btn.btn-default(href='#', ng-click=attributes.ngModel + '=""')
                span.glyphicon.glyphicon-remove
