include /record/pages/detail_mixin

+detail_page()
    .renew(expiry-info='item.expiry', show-details='true', can-edit='edit_mode')
    .registered
        | Agreement Start:
        span(date-edit='item.starts_on', can-edit='edit_mode')
