include /ui_mixin

mixin drawer_breadcrumb()
    +breadcrumb()
        li(ng-show='drawer')
            .title Drawer
            .btn-group.btn-group-xs
                a.btn.btn-default(ng-href='{{ path_base }}{{ drawer.location }}') {{ drawer.title }}
                a.btn.btn-default.dropdown-toggle(dropdown='show_drawers=$show'): i.caret
                ul.dropdown-menu(ng-show='show_drawers', role="menu")
                    li(ng-repeat='drawer in drawers')
                        a(ng-href='{{ path_base }}{{ drawer.location }}') {{ drawer.title }}
        block

mixin extended_breadcrumb()
    +breadcrumb()
        li
            .title Drawer
            .btn-group.btn-group-xs
                a.btn.btn-default(ng-href='{{ path_base }}{{ type.parent.location }}') {{ type.parent.title }}
                a.btn.btn-default.dropdown-toggle(dropdown='show_drawers=$show'): i.caret
                ul.dropdown-menu(ng-show='show_drawers', role="menu")
                    li(ng-repeat='drawer in drawers')
                        a(ng-href='{{ path_base }}{{ drawer.location }}') {{ drawer.title }}
        li: .btn-group.btn-group-xs
            a.btn.btn-default(ng-href='{{ path_base }}{{ type.location }}') {{ type.title }}
            a.btn.btn-default.dropdown-toggle(dropdown='show_types=$show'): i.caret
            ul.dropdown-menu(ng-show='show_types', role="menu")
                li(ng-repeat='type in type.parent.sub')
                    a(ng-href='{{ path_base }}{{ type.location }}') {{ type.title }}
        block
