.card
    div(ng-hide='hide_name')
        a.name(ng-href='{{ path_base }}companies/{{ company.key }}/') {{ company.name }}
        | &nbsp(
        a(target='_blank', ng-href='{{ company.url }}') site
        | )
    div(ng-show='company.contacts[contact].name'): strong {{ company.contacts[contact].name }}
    .email(ng-show='company.contacts[contact].email')
        a(target='_blank', ng-href='mailto:{{company.contacts[contact].name}}%20<{{company.contacts[contact].email}}>?subject={{email_subject}}')
            span.glyphicon.glyphicon-envelope
            | {{ company.contacts[contact].email }}
    .phone(ng-show='company.contacts[contact].phone')
        a(target='_blank', ng-href='tel:{{company.contacts[contact].phone}}')
            span.glyphicon.glyphicon-phone-alt
            | {{ company.contacts[contact].phone }}
    .link(ng-show='company.contacts[contact].url')
        a(target='_blank', ng-href='{{company.contacts[contact].url}}')
            span.glyphicon.glyphicon-link
            | Contact Page
