.card {
    .name {
        font: 700 15px 'Helvetica';
        margin-bottom: 5px;
        color: #000000;
        a {
            color: #000000;
        }
    }
    > :first-child {
        margin-left: 0px;
    }
    > * {
        margin-left: 10px;
        .hide-overflow();
    }
    .glyphicon {
        color: #000000;
        margin-right: 6px;
    }
    .edit {
        position: relative;
        display: block;
        padding-left: 20px;
        .glyphicon {
            position: absolute;
            left: 0;
        }
    }
}
