.card
    div.name(ng-hide='hide_name')
        a(ng-href='{{ path_base }}users/{{ user.info.id }}/') {{ user.info.name }}
    .email(ng-show='user.info.email')
        a(target='_blank', ng-href='mailto:{{user.info.name}}%20<{{user.info.email}}>?subject={{email_subject}}')
            span.glyphicon.glyphicon-envelope
            | {{ user.info.email }}
    .phone(ng-show='user.info.phone')
        a(target='_blank', ng-href='tel:{{user.info.phone}}')
            span.glyphicon.glyphicon-phone-alt
            | {{ user.info.phone }}
