.snap-right
    a.tool(ng-href='{{ path_base }}{{ type.location }}{{item.key}}/?edit'):    span.glyphicon.glyphicon-pencil
    a.tool(ng-href='{{ path_base }}{{ type.location }}{{item.key}}/history/'): span.glyphicon.glyphicon-time
.item
    a.title(ng-href='{{ path_base }}{{ type.location }}{{item.key}}/')
        | {{ item.data.name }}
    .expiry(expiry-info='item.data.expiry')
    .description {{ item.data.description }}
    .tag-group
        .contacts
            a.label.label-light(ng-repeat='account in accounts', ng-show='account', ng-href='?text={{account}}')
                img(ng-src='{{ users[account].info.extra.picture }}')
                | {{ users[account].info.name }}
        .folders
            a.label.label-success(ng-repeat='folder in item.data.folders', ng-href='{{ switch_folder(folder) }}')
                | {{ workspace.details.folders[folder].name }}
        .options(option-list='item.data.options', search='true', complete-type='{{ type.id }}', url='{{ url }}')
.date Last changed {{ item.last_modified | ago:'short' }}
