.list-heading {
    margin: 30px -12px 5px;
}

.list-heading + .item-list {
    margin-top: 10px;
}

.item-list {
    margin: 20px 0;
    h1, h2, h3, h4 {
        margin: 10px -7px 2px;
        &:only-child {
            display: none;
        }
    }
    h4 {
        font-style: italic;
    }
    > .no-entries {
        display: none;
        &:only-child {
            display: block;
        }
    }
    > .row {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        padding: 5px 65px 10px 20px;
        border-top: solid #000000 2px;
        .snap-right {
            position: absolute;
            display: none;
            top: 0px;
            z-index: 10;
            padding: 3px;
            right: 0px;
            .tool {
                cursor: pointer;
                text-decoration: none;
                color: #000000;
                padding: 5px 10px;
            }
        }
        &:hover .snap-right {
            display: block;
        }
        &:last-child {
            border-bottom: solid #000000 2px;
        }
        a.title {
            font: 20px 'Helvetica';
            color: #000000;
        }
        .details {
            .col(13, ~'');
            width: 100%;
            .options, .expiry {
                margin-left: 5px;
            }
        }
        .expiry {
            display: inline;
            vertical-align: super;
        }
        .tag-group {
            &>* {
                display: inline-block;
            }
        }
        .contacts {
            float: right;
            .label {
                img {
                    height: 1.5em;
                    padding-right: 3px;
                }
            }
        }
        .folders {
            white-space: normal;
            display: inline-block;
            .label {
                &:before {
                    .glyphicon();
                    padding-right: 5px;
                }
            }
        }
        .options {
            white-space: normal;
            display: inline-block;
            .label {
                .glyphicon-tag();
                &:before {
                    .glyphicon();
                    padding-right: 3px;
                }
            }
        }
        .description {
            font-size: 18px;
        }
        .date {
            position: absolute;
            bottom: 0;
            right: 10px;
            font-style: italic;
            font-size: 10px;
        }
        @media (max-width: @screen-lg-min) {
            .snap-right {
                display: block;
            }
        }
        @media (max-width: @screen-sm-min) {
            .expiry {
                display: block;
            }
            .tag-group > * {
                display: block;
            }
        }
        @media (max-width: ((@screen-xs-min + @screen-xs-max)/2)) {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
