.part(ng-repeat='account in accounts')
    h4
        button.btn.btn-danger(ng-show='edit_mode', ng-click='accounts.splice($index, 1)') Remove
        | &nbsp;
        span(editable='edit_mode', ng-model='account.name', placeholder='Account Name')
        small(editable='edit_mode', ng-model='account.type', placeholder='Account Type')
    | &nbsp;Account number: **********
    span(editable='edit_mode', ng-model='account.number', ng-maxlength='4', placeholder='xxxx')
    span(ng-show='edit_mode') &nbsp;(Please enter the last 4 digits)
button.btn.btn-success(ng-show='edit_mode', ng-click='accounts.push({})') Add Account Number
