#sidebar .side-menu {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    padding: 0;
    text-align: left;
    border-radius: 2px;
    white-space: nowrap;
    * {
        overflow: visible;
    }
    > * {
        &:first-child {
            border-top: none;
        }
        border-top: solid thin #ccc;
    }
    &>.current {
        padding: 5px;
        &>* {
            display: inline-block;
        }
        & > a {
            position: relative;
            margin-right: 10px;
            img {
                width: 70px;
            }
            .info {
                display: none;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: #ccc;
                text-align: center;
                color: #333;
                font-size: 8px;
                padding: 5px 0;
            }
            &:hover .info {
                display: block;
            }
        }
    }
    .selected {
        position: relative;
        white-space: nowrap;
        margin: 0;
        padding: 0;
        border-top: solid thin #ccc;
        border-bottom: solid thin #ccc;
        .cabinet {
            .name {
                border: none;
                width: @sidebar-width - 40px - 15px;
                text-align: left;
                font-size: 14px;
                font-weight: 900;
            }
            .pull-right {
                border: none;
                border-left: solid 1px #ccc;
                border-radius: 0;
                width: 40px;
            }
        }
        & > .btn-block {
            margin: 0;
            border-radius: 0;
        }
        .current {
            background-color: darken(#fefefe, 20%);
        }
        .dropdown-menu {
            width: 100%;
        }
    }

    .folders {
        .show-folder() {
            .clearfix();
            max-height: 100px;
            font-size: 14px;
            padding: 4px 4px 4px 20px;
            border-top: solid thin #ccc;
            &:hover {
                background-color: darken(#fefefe, 30%);
            }
        }
        &:hover .folder {
            .show-folder();
        }
        .folder {
            display: block;
            position: relative;
            color: #000;
            transition: font-size 0.1s;
            font-size: 0;
            padding: 0 0 0 20px;
            border: none;
            &.current {
                .show-folder();
            }
            &.all {
                .show-folder();
                font-size: 15px;
                font-weight: 900;
                padding-left: 10px;
                &:hover {
                    background-color: inherit;
                }
            }
        }
    }
}
