.side-menu(ng-controller="Sidebar")
    .current
        a(ng-href='{{ user.extra.link }}', target="_blank")
            img(ng-src='{{ user.info.extra.picture }}')
            .info Change in Google+
        .content(contact_card='user')
    .selected
        .btn-group.btn-block.cabinet
            a.tour-cabinet-list.btn.btn-default.name(dropdown='show_workspace=$show')
                span(ng-show='workspace') {{ workspace.details.name }}
                i(ng-hide='workspace') No Cabinet selected
                | &nbsp;
                i.caret
            ul.dropdown-menu(ng-show='show_workspace')
                li(ng-repeat='space in workspaces', ng-class="{current: space.url == workspace.url}")
                    a(ng-href="/s/{{ space.url }}/") {{ space.details.name }}
                li.divider
                li: a(href='#', ng-click="create_cabinet()") &nbsp;Create a new Cabinet
            a.btn.btn-default.pull-right(ng-show='workspace', ng-href='/s/{{ workspace.url }}/settings/')
                .glyphicon.glyphicon-cog
        a.btn.btn-success.btn-block(ng-show='workspace', ng-href='{{ path_base }}add/')
            .glyphicon.glyphicon-plus
            | &nbsp;Add Record
        .folders(ng-show='workspace')
            .folder.all
                | Showing records in:
            a.folder(ng-class='{current: !current.folder}', ng-href='/s/{{ workspace.url }}/')
                | All Record Groups
            a.folder(ng-repeat='(key, folder) in workspace.details.folders',
                     ng-class='{current: key==current.folder}',
                     ng-href='/s/{{ workspace.url }}/{{ key }}/')
                | {{ folder.name }}
        h3(ng-hide='workspace')
            .glyphicon.glyphicon-arrow-up
            | &nbsp;Select a cabinet above
            .glyphicon.glyphicon-arrow-up
