.user-tag {
    display: inline-block;
    height: 2.2em;
    border-radius: 4px;
    border: solid thin #999999;
    background-color: #eeeeee;
    .display-picture {
        display: inline;
        height: 100%;
    }
    .name {
        padding: 0px 3px;
    }
}
