ol.breadcrumb
    li: a(href="/companies/") Companies
    li.active {{ company.name }}

h1 {{ company.name }}
    small
        | &nbsp;(
        a(ng-href='{{company.url}}', target='_blank') site
        | )

.item-list(ng-if='company.key')
    h2 Contacts
    .row(ng-repeat='contact in company.contacts', contact='$index', company-card='company', hide-name='true')

.alert.alert-info.text-center(ng-show="loading")
    h2 Loading Records...

span(ng-hide="loading")
    .item-list(ng-repeat='type in types')
        h2 {{ type.title }}
        .row(ng-repeat='item in type.data | isCompany:company', row-item='item', row-type='{{ type.id }}', hide-company='true')
