include /ui_mixin

h2 BlueDrive for {{ workspace.details.name }}

span.welcome
    +panel('Welcome to your BlueDrive')
        p Your BlueDrive provides compliant archival and management of key information, contracts and more.
        p: strong To get started, navigate using the white headings at the top of the screen.
        hr
        i With thanks from the team at BlueDrive Digital, Inc.
