include /ui_mixin

+breadcrumb()

span
    h2 Email Forwarding
    p Records can be added to this cabinet by forwarding or sending an email to:&nbsp;
        a(ng-href="mailto:BlueDrive Cabinet%3A%20{{ workspace.details.name }} <{{ workspace.url }}@app.bluedrivedigital.com>", target="_blank")
            | BlueDrive Cabinet: {{ workspace.details.name }} &lt;{{ workspace.url }}@app.bluedrivedigital.com&gt;
    p Save this address in your contact list. Any text added to the message will be used to help place the record in this cabinet.
    p Record addition will take approximately 1 hour.
    hr

span(ng-show='links')
    h2 Quick Links
    .row
        .col-sm-4(ng-repeat='link in links')
            a.btn.btn-default.btn-block(ng-href="/s/{{ workspace.url }}/{{ link.url }}")
                | {{ link.title }}
    hr

h2 {{ workspace.details.name }}
form.row(ng-submit="run_search(path_base + drawer.location + 'all/?text=' + search_all)")
    .col-sm-offset-2.col-sm-4
        .input-group
            .input-group-addon
                .glyphicon.glyphicon-search
            input.form-control(type="text", placeholder="Search Records", ng-model="search_all")
    .col-sm-3
        button.btn.btn-default.btn-block
            | All Records

.row
    .col-sm-4.drawer-list(ng-repeat="drawer in drawers")
        a.tour-drawer-title(ng-href='{{ path_base }}{{ drawer.location }}')
            h3.text-center {{ drawer.title }} Drawer
        form(ng-submit="run_search(path_base + drawer.location + 'all/?text=' + search)")
            .input-group
                .input-group-addon
                    .glyphicon.glyphicon-search
                input.text-center.form-control(type="text", placeholder="Search {{drawer.title }} Records", ng-model="search")
            button.btn.btn-default.btn-block
                | All {{drawer.title }} Records
        a.tour-drawer-add-record.btn.btn-success.btn-block(ng-href="{{ path_base }}add/?type={{ drawer.id }}")
            | Add {{drawer.title }} Record
        hr
        .tour-drawer-reports
            a.btn.btn-primary.btn-block(ng-href="{{ path_base }}{{ drawer.location }}renewals/")
                | {{ drawer.title }} Expiries & Renewals
            a.btn.btn-primary.btn-block(ng-href="{{ path_base }}{{ drawer.location }}responsibilities/")
                | {{ drawer.title }} Responsibilities
