include /record/pages/detail_mixin

+breadcrumb(true)
    li: a(href="/s/{{ workspace.url }}/settings/") Settings

button.btn.btn-success(ng-click="save()")
    span.glyphicon.glyphicon-floppy-disk
    | &nbsp; Save

h1(editable='true', ng-model='cabinet.name')

h2
    | Record Groups&nbsp;
    small (click to edit)
table.table.table-condensed
    tr(ng-repeat="section in cabinet.folders")
        td: div(editable='true', ng-model='section.name')
    tr(ng-repeat="section in new_folders")
        td: div(editable='true', ng-model='section.name', placeholder="Enter Record Group's Name")
    tr: td
        button.btn.btn-sm.btn-success(ng-click="new_folders.push({name: ''})")
            span.glyphicon.glyphicon-plus
            | &nbsp; Add Record Group

h2 Users
table.table
    tr
        td
        th Name
        th Email
        th Access
    tr(ng-repeat="user in users")
        td: img(ng-src="{{ user.info.extra.picture }}", width="40px")
        td {{ user.info.name }}
        td {{ user.info.email }}
        td
            span(ng-show="user.write") Write
            span(ng-hide="user.write") Read
