include /record/pages/detail_mixin

.detail-page
    +breadcrumb(true)
        li: a(href="/s/{{ workspace.url }}/users/") Users
        li.active {{ user.info.name }}

    .top-bar
        +action_bar()
        a.btn.btn-default(ng-hide='edit_mode', href='actions/')
            .glyphicon.glyphicon-film
            span Actions

    h1 {{ user.info.name }}

    h3 {{ user.info.position }}
        small &nbsp;{{ user.info.department }}
    h4 {{ user.info.location }}

    div(contact-card='user', hide-name='true')

    .alert.alert-info.text-center(ng-show="loading")
        h2 Loading Records...

    span(ng-hide="loading")
        h2.list-heading Primary Responsibilities
        .item-list(ng-repeat='type in types')
            h4 {{ type.title }}
            .row(ng-repeat='item in type.data | isPrimary:user_key', row-item='item', row-type='{{ type.id }}', hide-user='true')

        h2.list-heading Secondary Responsibilities
        .item-list(ng-repeat='type in types')
            h4 {{ type.title }}
            .row(ng-repeat='item in type.data | isSecondary:user_key', row-item='item', row-type='{{ type.id }}')
